.register {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}


.register__container {
    background-color: var(--color-primary-variant);
    width: 90%;
    height: 90%;
    box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 33%);
    display: flex;
}

.register__image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register__image img {
    width: 90%;
}

.register__content {
    overflow-y: auto;
    width: 50%;
    background-color: var(--box-color);
}

.register__box {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}

.register__title {
    font-size: var(--title);
    text-align: center;
}

.register__user {
    position: relative;
}

.register__user-img {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    object-fit: cover;
}

.register__img {
    position: absolute;
    bottom: 0%;
    right: 0%;
    max-width: 40px;
    max-height: 40px;
}

.register__img:hover {
    cursor: pointer;
}

.register__file {
    position: absolute;
    top: 110px;
    left: 50px;
    display: none;
}

.register__form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}

.register__input {
    background-color: var(--bg-color);
    border-radius: 5px;
    padding: .8rem;
    height: 50px;
    font-size: 1rem;
    font-weight: var(--font-semi-bold);

}

.register__input::placeholder {
    font-weight: var(--font-semi-bold);
    font-size: 1rem;
}


.register__input:focus {
    transition: var(--transition);
    outline: none;
    background-color: #e0e0e0;
}

/* REGISTER PHONE NUMBER */

.register__input-phonenumber {
    width: 100%;
    border-radius: 5px;
    display: flex;
    background-color: var(--bg-color);
    padding-left: .8rem;
    transition: var(--transition);
    position: relative;
}

.register__input-phonenumber:hover {
    background-color: #e0e0e0;

}

.register__input__country-selected {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}

.register__input__country-selected:hover {
    cursor: pointer;
}

.register__input__country-flag {
    width: 25px;
}

.register__input__country-arrow {
    width: 15px;

}

.register__input__phone-input {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.register__input__phone-input:focus {
    background-color: transparent;
}

.register__input__countries {
    transition: var(--transition);
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    border-radius: 5px;
    width: 250px;
    min-height: 82px;
}

.register__input__country-search {
    background-color: #cecece;
    height: 40px;
    font-size: .8rem;
    font-weight: var(--font-semi-bold);
    border-radius: 5px 5px 0px 0px;
}

.register__input__country-search:focus {
    background-color: #cecece;
}

.register__input__contry-list {
    display: flex;
    flex-direction: column;
}

.register__input__contry-item {
    padding: 1.3rem;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register__input__contry-item:hover {
    transition: var(--transition);
    background-color: #b9b9b9;
    cursor: pointer;
}

.register__input__contry-img {
    display: flex;
    gap: .5rem;
}

.register__input__country-text {
    font-size: .9rem;
}

.hide {
    display: none;
}

::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
}

.register__input-location,
.register__input-description {
    grid-column: 1 / 3;
}

.register__input-description {
    height: 80px;
    resize: none;
}

.register__alert {
    color: var(--delete);
    margin: 1rem 0;
    text-align: center;
    grid-column: 1 /3;
    display: none;
    transition: var(--transition);
}

.register__submit {
    grid-column: 1 / 3;
    justify-self: center;
    margin-top: 1rem;
    width: 160px;
    height: 60px;
    font-size: 1rem;
}

.register__link {
    font-weight: var(--font-semi-bold);
}

.register__link-purple {
    color: var(--color-primary);
    font-weight: var(--font-bold);
}

.register__link-purple:hover {
    transition: var(--transition);
    text-decoration: underline 1px solid var(--color-primary);
    text-align: center;
}

/* ============== MEDIA QUERIES =============== */

/* Medium Devices = 1024 */

@media screen and (max-width: 1024px) {

    .register {
        overflow-y: auto;
        padding: 1rem;
    }

    .register__container {
        width: 95%;
        height: 95%;
    }

    .register__content {
        overflow-y: auto;
        height: 100%;
        width: 100%;
    }

    .register__box {
        justify-content: space-evenly;
        height: 100%;
    }

    .register__image {
        display: none;
    }


}

/* Small Devices = 600 */

@media screen and (max-width:600px) {

    .register {
        height: 100%;
        padding: .8rem;
    }

    .register__container {
        width: 100%;
        height: 100%;
    }

    .register__box {
        padding: 1rem .8rem;
    }

    .register__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .register__input {
        width: 100%;
    }
}