.create-products {
    padding: 1rem 2rem 2rem;
    background-color: var(--box-color);
    border-radius: 10px;
    z-index: 1000;
}

.create-products__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.create-products__close {
    height: fit-content;
    width: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
}

.create-products__img-box {
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.create-products__img-box:hover .create-products__img {
    filter: brightness(70%);
}

.create-products__img-box:hover .create-products__changeimg {
    display: inline-block;
}

.create-products__img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
}

.create-products__changeimg {
    cursor: pointer;
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.9);
}


.create-products__img-input {
    visibility: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 100%;
    top: 100%;
}

.create-products__changeimg {
    position: absolute;
}

.create-products__form {
    display: grid;
    grid-template-areas:
        'a b c'
        'd b e'
        'f b e';
    gap: 1rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.create-products__input {
    padding: .8rem;
    background-color: var(--bg-color);
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1rem;
    resize: none;
    width: 300px;
}

#product__name {
    grid-area: a;
}

#product__category {
    grid-area: d;
}

#product__supplier {
    grid-area: f;
}

#product__sellprice {
    grid-area: c;
}

#product__description {
    grid-area: e;
    height: 100%;

}

.product__vl {
    grid-area: b;
    height: 100%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

.create-products__input::placeholder {
    font-size: .9rem;
}

.product__category {
    padding: .8rem;
    background-color: var(--bg-color);
    border-radius: 5px;
    align-self: baseline;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: .95rem;
}

.product__category-icon {
    font-size: 1.5rem;
}

.product__category__options-arrow {
    z-index: 0;
    position: absolute;
    font-size: 3rem;
    top: -30px;
    color: var(--bg-color);
    left: 68%;
}

.product__category__options {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    top: 65px;
    left: 0;
    width: 100%;
    max-height: 200px;
    z-index: 1000;
}

.product__category__options-scroll {
    overflow-y: auto;
    z-index: 1000;
}

.product__category__options-scroll p {
    padding: .8rem;
    text-align: center;
    cursor: pointer;
    z-index: 1100;
    font-size: 1rem;
}

.product__category__options-scroll__loading img {
    width: 25px;
}

.product__category__options-scroll__loading:hover {
    background-color: rgb(221, 221, 221) !important;
    cursor: initial;
}

.product__category__options p:not(:last-of-type) {
    border-bottom: 1px solid rgba(88, 88, 88, 0.1);
}

.product__category__options p:hover {
    background-color: rgb(219, 219, 219);
}

/* SCROLL BAR STYLE */
.product__category__options-scroll::-webkit-scrollbar {
    width: 2px;
}

.product__category__options-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .8);
    border-radius: 10px;
}

.product__category__options-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.product__category__options-scroll::-webkit-scrollbar-button {
    display: none;
}

/* FOR FIREFOX */

@-moz-document url-prefix() {
    .product__category__options-scroll {
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, .8) transparent;
    }

    .product__category__options-scroll::-moz-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
    }

    .product__category__options-scroll::-moz-scrollbar-button {
        display: none;
    }
}

.create-products__button {
    margin-top: 1rem;
}

.create-products__error {
    color: var(--delete);
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-products__error img {
    width: 25px;
    height: 25px;
}

/* CREATE CATEGORY */

.create-category {
    gap: 1rem;
}

.create-category h2 {
    margin-bottom: 1rem;
}

.create-category__close {
    font-size: 1.8rem;
}


.create-category__button {
    margin-top: 1rem;
}

.create-categories__form {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.create-products__loading {
    width: 200px;
}

/* ============== MEDIA QUERIES =============== */

/* Medium Devices = 1024 */

@media screen and (max-width: 1024px) {
    .create-products {
        height: 100%;
        overflow-y: auto;
    }

    .create-products__form {
        gap: 1rem;
    }

    .create-category {
        height: fit-content;
    }

    .create-products__input {
        width: 250px;
    }
}

/* Small Devices = 600 */

@media screen and (max-width:600px) {

    .create-products {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .create-products__container {
        height: max-content;
    }

    .create-category {
        height: fit-content;
    }

    .create-products__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .create-products__input {
        width: 100%;
    }

    .product__vl {
        display: none;
    }

}