.chart-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    max-height: 510px;
    width: 100%;
    position: relative;
    object-fit: contain;
}

.chart-container__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.chart__time {
    font-weight: var(--font-normal);
    display: flex;
    align-items: center;
    gap: .25rem;
}